@model List<SpecializationItemVM>
@{
    ViewData["Title"] = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Specialization List</h6>
        <a asp-action="Create" asp-controller="Specialization" class="btn btn-outline-primary ml-auto">Create</a>
    </div>
    <div class="card-body">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                               
                            </tr>
                        </thead>
                       
                        <tbody>
                            @foreach(var item in Model ??[])
                            {
                                
                            <tr>
                                <td>@item.Name</td>
                                
                            </tr>
                            }

                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
                    
     @*         <!-- End of Main Content -->
     @foreach (var item in Model??[])
     {
         <tr>
             <th></th>
             <th>@item.Name</th>

         </tr>
     } *@


</div>


